<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Create User">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Registration form</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">

                <div class="col-sm-4 sign-up--form order-first order-lg-last">
                    <div class="row">
                        <form name="regForm" class="col mx-auto" accept-charset="UTF-8" th:action="${#requestdatavalues.url('/users/signup')}" method="post"
                              th:object="${signUpRequestDto}">

                            <div class="form-group">
                                <label for="last-name">Username</label>
                                <input id="last-name" class="form-control form-control-lg" type="text" th:field="*{username}" required>
                                <th:block th:if="${#fields.hasErrors('username')}">
                                    <div th:errorclass="invalid-input" th:errors="*{username}"></div>
                                </th:block>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" class="form-control form-control-lg" type="password" name="password" minlength="5"
                                       maxlength="35" th:field="*{password}" required>
                                <th:block th:if="${#fields.hasErrors('password')}">
                                    <div th:errorclass="invalid-input" th:errors="*{password}"></div>
                                </th:block>
                            </div>
                            <div class="form-group">
                                <label for="password_again">Confirm Password</label>
                                <input id="password_again" class="form-control form-control-lg" type="password" name="confirmPassword"
                                       minlength="5" maxlength="35" required>
                            </div>
                            <button type="submit" class="btn btn-success primary-lg">Create account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>